:root {
  --main-color: #a77b5a;
  --background: #ffffff;

  --primary: #416E6B;
  --highlight: #f6dd7b;
  --neutral-light: #e8f0ef;
  --neutral-dark: #2f4f4f;
  --text-dark: #1e1e1e;
  --text-muted: #6c757d;

  --toastify-color-info: #8cb0c8 !important;
  --toastify-color-success: #67a069 !important;
  --toastify-color-warning: #f6dd7b !important;
  --toastify-color-error: #d9534f !important;

  --inv1: #eeb45e;
  --inv2: #eecb95;
  --inv3: #ecc180;

  --ttc: 0.8s;
  --ttc2: 1s;
  --ttc3: 1.4s;

  --heart: #f58080;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--main-color);
  background: var(--background);
  margin: 0;
  padding: 1rem;
  min-height: 100vh;

  .react-datepicker-wrapper {
    width: 100%;
    text-align: left;
  }

  .react-datepicker__current-month {
    text-transform: capitalize;
  }

  .Toastify__toast-theme--colored.Toastify__toast--default {
    background-color: var(--background);
    color: var(--main-color);
  }

  .Toastify__toast-theme--colored.Toastify__toast--info {
    background-color: var(--background);
    color: var(--main-color);
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
}

input {
  width: 100%;
}

.card {
  transition: all ease 6s;
  transition-delay: 6s;
  position: absolute;
  cursor: pointer;
}

.invitation-main {
  width: 100%;
  height: 100%;
}

.envelope-main{
  position: relative;;
}

.small {
  height: 0px;
  left: 0;
  top: 2000px;
}

.nodisplay{
  display: none;
}

.large {
  left: 0px;
  top: 0px;
}